# Base ----------------------------------------
torch>=2.3.0
torchvision>=0.18.0
accelerate
flash-attn
matplotlib>=3.2.2
numpy>=1.18.5,<2.0
opencv-python>=4.1.2
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.7.0
tqdm>=4.41.0
gdown
flask
Werkzeug
argparse
transformers>=4.49.0  # Qwen2.5-VL + Mllama
ultralytics
qwen-vl-utils>=0.0.8
pyquaternion
nuscenes-devkit
openai

# # Logging -------------------------------------
# tensorboard>=2.4.1
# comet-ml

# # Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

thop  # FLOPs computation
